.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.7);

  &__basket{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  &__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0 20px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 60%;      
  }
  
  &__product {
    display: flex;
    align-items: center;
  }
}
 #clear_cart{
  padding: 14px;
  background-color: rgb(204, 255, 0);
  color: rgb(34, 114, 10);
  border-radius: 14px;
  transition: 1s;
   &:hover{
    background-color: rgb(205, 192, 14);
   }

   &:active{
    background-color: rgb(231, 235, 13);
   }
 }

 .summa{
  color: white;
 }

