body {
  background: url(../assets/img/fioletSky.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;

  @include tablet {
    background-size: contain;
  }
}

button {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
